apipkg==1.5
appdirs==1.4.4
asgiref==3.2.7
attrs==19.3.0
click==7.1.2
distlib==0.3.0
Django==3.0.7
execnet==1.7.1
filelock==3.0.12
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
more-itertools==8.3.0
mysql-connector-python==8.0.20
packaging==20.4
pep8==1.7.1
Pillow==9.0.1
pluggy==0.13.1
psycopg2-binary==2.8.5
py==1.8.1
pyparsing==2.4.7
pytest==5.4.2
pytest-cache==1.0
pytest-pep8==1.0.6
pytz==2020.1
six==1.14.0
sqlparse==0.3.1
virtualenv==20.0.21
vsearch==1.0
wcwidth==0.1.9
Werkzeug==1.0.1
